/* font-family: 'Bebas Neue', cursive; */

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f2f2f2;
}

.banner {
    background: #b31b1b;
}

.banner-content {
    padding: 21px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchPokemon {
    width: 100%;
    border: 3px solid #fff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #b57979;
}

.searchPokemon:focus{
    color: #b31b1b;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background: #b31b1b;
}


.wrap{
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-parent, .type-parent, .info-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 130px;
    width: 130px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 60px 0 rgba(0,0,0,0.25);
    margin-top: 4%;
    transform: rotateX(25deg);

}

.info-box {
    height: 300px;
    width: 750px;
    background-color: #f2f2f2;
    border: 5px solid #b31b1b;
    z-index: 1;
    margin-top: 2.5%;
    border-radius: 100px;
}