/* font-family: 'Bebas Neue', cursive; */

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f2f2f2;
}

.banner {
    background: #bf9355;
}

.banner-content {
    padding: 1.75%;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchPokemon {
    width: 100%;
    border: 3px solid #fff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ccbea9;
}

.searchPokemon:focus{
    color: #bf9355;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background: #bf9355;
}


.wrap{
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-parent, .type-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 130px;
    width: 130px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 4%;
}